body {
    background-color: black;
    text-align: center;
    font-family: 'Trebuchet MS';
    color: white;
}
h1{
    background: url(https://i.redd.it/9oesnnlrqsy21.png) no-repeat center;
    font-size: 40px;
    color: white;
    background-size: cover;
    padding: 50px;
}
.rekomendasi {
    background: url(https://c4.wallpaperflare.com/wallpaper/487/565/151/neon-steam-software-wallpaper-preview.jpg) no-repeat center;
    font-size: 25px;
}

nav{
    display: flex;
    background-color:grey;
}
nav a{
    color: white;
    margin: 0 10px;
    font-size: 35px;
}
.game1{
    background: url(https://images3.alphacoders.com/137/1379106.jpg) no-repeat center;
    background-size: cover;
    font-size: large;
    padding: 10%;
}
h3{
    text-align: center;
    font-size: 75px;
}
a {
    text-decoration: none;
    color: white;
    text-align: center;
}


.game2 {
    background: url(https://images.alphacoders.com/135/1353166.png) no-repeat center;
    background-size: cover;
    font-size: large;
    padding: 10%;
}
.game3 {
    background: url(https://images7.alphacoders.com/749/thumb-1920-749807.png) no-repeat center;
    background-size: cover;
    font-size: large;
    padding: 10%;
}





