body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}
header {
    background-color: #003366; /* Biru Navy ULBI */
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
h3 { margin: 5px; }
nav ul {
    list-style: none;
    padding: 0;
    background: white;
    display: inline-block;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
nav ul li { display: inline; margin: 0 10px; }
nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #ff6600; /* Oranye ULBI */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
nav ul li a:hover { background-color: #e65c00; }
p { color: #28a745; font-weight: bold; margin-top: 20px; } /* Pesan sukses hijau */