:root {
  --bg: #11131F;
  --card: #111827;
  --text: #e5e7eb;
  --accent: #B19CD9;
}

body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center; 
  align-items: center;  

  background: linear-gradient(
    to top right,
    #161928 0%,
    #161928 55%,
    #26283B 100%
  );

  color: var(--text);
  font-family: system-ui, sans-serif;
}

.container {
  max-width: 900px;
  padding: 24px;
  background: rgba(17, 24, 39, 0.8);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #222;
}

a {
  color: var(--accent);
  text-decoration: none;
}

input, select, button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  background: var(--card);
  color: var(--text);
  border: 1px solid #222;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select,
button {
  width: 100%;
  height: 44px;        
  padding: 10px 12px;
  box-sizing: border-box;
  border-radius: 8px;

  background: var(--card);
  color: var(--text);
  border: 1px solid #222;
  font-size: 14px;
}

select {
  appearance: none;
}

button {
  cursor: pointer;
  font-weight: 600;
  background: linear-gradient(135deg, #6b5cff, #b19cd9);
  border: none;
}