body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #eee;
    transition: background 0.3s ease, color 0.3s ease;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #bbaaff;
}

/* HERO */
#hero {
    padding: 150px 20px 80px;
    text-align: center;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow:
        2px 2px 5px #8e2cff,
        0 0 20px #ff33aa,
        0 0 30px #6e33ff;
    animation: fadeIn 1.5s ease-out forwards; 
}

/* SECTIONS */
section {
    padding: 40px 20px;
    text-align: center;
}
h2 {
    margin-bottom: 8px; /* judul lebih dekat ke paragraf */
}
section p {
    margin-top: 5px;
}

/* FEATURE CARDS */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    margin-top: 40px;
    padding: 0 20px;
}

.card {
    background: #1b1b1b;
    padding: 25px;
    border-radius: 12px;

    transition: transform .3s ease,
                box-shadow .3s ease,
                background .3s ease;
}

.card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 10px 30px rgba(150, 0, 255, 0.35);
    background: #242424;
}

.card h3 {
    color: #bbaaff;
}

/*VIDEO RESPONSIVE */
.video-responsive {
    position: relative;
    paddiing-bottom: 56.25%;  /* rasio 16:9 */
    height: 0;
    overlow: hidden;
    max-widht: 900px; /*supaya ga terlalu besar di laptop */
    margin: 0 auto;
}

.video-responsive iframe {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    iframe {
        height: 200px !important;
    }
}

/* tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
    /* Kartu Fitur: Ubah menjadi 2 kolom */
    .card-container {
        grid-template-columns: repeat(2, 1fr); 
        padding: 0 30px;
    }

    /* Judul */
    .hero-title {
        font-size: 56px;
    }
}

/* MOBILE , HP */
@media (max-width: 600px) {
    
    .navbar {
        overflow-x: auto; /* menggeser menu */
        padding: 15px 10px; /* jarak dari pinggir layar */
    }

    .navbar ul {
        flex-wrap: nowrap; /* supaya ga pindah ke baris baru */
        width: max-content; /* lebar yang cukup untuk semua item */
        padding: 0 5px; 
    }
    
    /* Kartu Fitur Ubah menjadi 1 kolom penuh */
    .card-container {
        grid-template-columns: 1fr; 
        padding: 0 5px;
    }

    /* Video & Judul Perkecil ukurannya */
    iframe {
        height: 200px !important;
    }
    .hero-title {
        font-size: 40px;
    }
}