body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://i0.wp.com/ulbi.ac.id/wp-content/uploads/2025/04/ULBI.jpg?w=800&ssl=1");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  z-index: -1;
}
.container {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: 50px auto;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

h1 {
  text-align: center;
  color: rgb(255, 106, 0);
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  padding: 10px;
  color: rgb(255, 106, 0);
}

#login-admin {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: rgb(255, 106, 0);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
#login-admin:hover {
  background-color: rgb(200, 85, 0);
}
#tambah-pengaduan {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px 15px;
  background-color: rgb(255, 106, 0);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
#tambah-pengaduan:hover {
  background-color: rgb(200, 85, 0);
}
