body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://i0.wp.com/ulbi.ac.id/wp-content/uploads/2025/04/ULBI.jpg?w=800&ssl=1");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  z-index: -1;
}
.container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 30%;
  margin: 50px auto;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
h2 {
  text-align: center;
  color: rgb(255, 106, 0);
  margin-top: 30px;
  margin-bottom: 30px;
}
input[type="text"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 30px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
  align-items: center;
}
#kembali {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: rgb(255, 106, 0);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  border-color: rgb(255, 106, 0);
}
#kembali:hover {
  background-color: rgb(200, 85, 0);
}
#login {
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px 15px;
  background-color: rgb(255, 106, 0);
  color: white;
  border-color: rgb(255, 106, 0);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
#login:hover {
  background-color: rgb(200, 85, 0);
}
a {
  color: white;
  text-decoration: none;
}
