body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 20px;
  border-bottom: 4px solid #2a80b9;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #27ae60;
  flex-wrap: wrap;
  border-bottom: 3px solid #1e8449;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #219150;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 70%;
  padding: 20px;
  border-right: 2px dashed #ccc;
}

.main-content h2 {
  color: #333;
}

.sidebar {
  flex: 30%;
  padding: 20px;
  background-color: #dddcdc;
  border-left: 2px solid #ddd;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: square;
  padding-left: 20px;
}
.project {
  flex: 70%;
  padding: 20px;
  border-right: 2px dashed #ccc;
}
.contact {
  flex: 30%;
  background-color: #dddcdc;
  border-left: 2px solid #ddd;
}
.contact h3 {
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 25px;
}
.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}
.social-links a:hover {
  background-color: #ffcc4d;
  transform: scale(1.1);
}
.social-links svg {
  width: 26px;
  height: 26px;
  fill: #2f2f2f;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  border-top: 3px solid #222;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main-content,
  .sidebar {
    width: 100%;
    border: none;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
