:root {
  --bg: #f7f7f7;
  --text: #222;
  --card: #f4f4f4;
}

body.dark {
  --bg: #121212;
  --text: #e8e8e8;
  --card: #1e1e1e;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 1s ease, color 1s ease;
}

/* NAVBAR */
header {
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text);
  font-size: 0.95rem;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text);
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  min-height: 80vh;
}

.hero h1 {
  font-size: 2.8rem;
  margin: 0;
}

.hero p {
  max-width: 350px;
  opacity: 0.8;
}

.cta-btn {
  padding: 10px 22px;
  border: none;
  background: var(--text);
  color: var(--bg);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  transition: 1s;
}

.cta-btn:hover {
  opacity: 0.9;
}

.hero-img {
  width: 40%;
  border-radius: 12px;
  transition-duration: 15ms;
}

/* SERVICES */
.services {
  padding: 60px 8%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: var(--card);
  padding: 25px;
  border-radius: 10px;
  transition: transform 5s ease, opacity 0.6s;
  opacity: 0;
  transform: translateY(20px);
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

/* CONTACT */
.contact {
  padding: 60px 8%;
  text-align: center;
}

.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #bbb;
  background: var(--card);
  color: var(--text);
}

footer {
  text-align: center;
  padding: 20px;
  opacity: 0.7;
}

.fade-box {
  background: #ddd;
  padding: 40px;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.fade-box.hide {
  opacity: 0;
}

/* --- VARIABLES & RESET --- */
:root {
    --bg-color: #0f0f0f;      /* Hitam Premium */
    --text-color: #f4f4f4;    /* Putih Silver */
    --gold: #d4af37;          /* Emas Mewah */
    --dark-gray: #1a1a1a;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Montserrat', sans-serif;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-body);
    line-height: 1.6;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--gold);
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }

/* RESPONSIVE */
@media(max-width: 768px){
    .hero-title { font-size: 2.6rem; }
    .typing { font-size: 16px; }
}