* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #fdfdfd;
}

header {
    background-color: #0F1E3A;
    color: #FFFFFF;
    padding: 20px 5%;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 5px;
}

header p {
    font-style: italic;
    opacity: 0.8;
    margin: 15px 20px;
    padding: 15px 20px;
}

nav {
    background-color: #172F50;
    padding: 10px 5%;
    box-shadow: 0 2px 4px rgba(0, 187, 255, 0.871);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul h3 {
    margin: 0 20px;
    text-shadow: #09d7fc;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 0;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFD700;
}

main {
    padding: 40px 5%;
    max-width: 1200px;
    margin: auto;
}

section {
    background-color: #575757;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

section h2 {
    color: #083381;
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid #FFD700;
    display: inline-block;
    padding-bottom: 5px;
}

.hero div {
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    color: #0F1E3A;
    border: none;
    margin-bottom: 10px;
}

[product-container] {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    flex-basis: 30%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgb(3, 255, 255);
}

.product img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.product h3 {
    color: #172F50;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 5px;
}

footer {
    background-color: #0F1E3A;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 5%;
    font-size: 0.9em;
}

footer p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

