* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body {
    background: #050505;
    color: white;
}

/* Navbar */
nav {
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(0,0,0,0,0.3);
    backdrop-filter: blur(10px);
}

nav h2 {
    color: #00eaff;
    font-weight: 700;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #00eaff;
}

/* Hero Section */
.hero {
    height: 100vh;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('https://static.vecteezy.com/system/resources/previews/001/966/689/original/abstract-futuristic-background-technology-sci-fi-concept-vector.jpg') center/cover no-repeat;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0,0.6);
    top: 0;
    left: 0;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color:white;
    text-shadow: 0 0 10px #366868;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% { text-shadow: 0 0 10px #00eaff;}
    100% {text-shadow: 0 0 25px #00eaff; }
}

.typing {
    font-size: 1.5rem;
    height: 35px;
    color: #fff;
    margin-bottom: 20px;
}

.btn {
    margin-top: 20px;
    padding: 12px 35px;
    background: #00eaff;
    color: black;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btn:hover {
    background: #00bbd4;
    transform: scale(1.05);
}

/* Feature Section */
.features {
    padding: 80px 8%;
    text-align: center;
}

.features h2 {
    color: #00eaff;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.feature-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    padding: 25px;
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transition: 0.4s;
    border: 1px solid rgba(255,255,255,0.1);
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    background: rgba(0,234,255,0.1);
    border-color: #00eaff;
}

/* Video Section */
.video-section {
    padding: 80px 8%;
    text-align: center;
}

.video-section h2 {
    color: #00eaff;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 400px;
    border-radius: 15px;
    border: 2px solid #00eaff;
}

/* Footer */
footer {
    padding: 25px;
    text-align: center;
    background: rgba(0,0,0,0.4);
    margin-top: 50px;
}