.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background: #ffffff;
  padding: 20px;
  width: 400px;
  margin: 10% auto;
  border-radius: 8px;
}
.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
#save-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
#save-btn:hover {
  background-color: #45a049;
}
#status {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: medium;
}
#delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
#delete-btn:hover {
  background-color: darkred;
}
#cancel-btn {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
#cancel-btn:hover {
  background-color: darkgray;
}
