body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    text-align: flex;
    margin-bottom: 20px;
}

fieldset {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
