body {
    background-color: #bce3f4;
    margin: 0;
    padding: 0;
}
header{
    background-color: #f7ead5;
    padding-top: 5px;
    margin: 5px 5px 5px;
    border-radius: 15px;
    text-align: center;
}
nav{
    background-color: #fb7857cf;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav a{
    font-family:  "Helvetica Neue";
    font-size: medium;
    color: whitesmoke;
    padding: 5px 10px;
}
section{
    background-color: #f7ead5;
    box-shadow: #333 5px;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Segoe UI';
    margin: 45px;
}
h1{
    font-family:system-ui,'Segoe UI';
    font-size: xx-large;
    color: #333;
}
h2{
    background-color: #fb7857cf;
    font-family:'Segoe UI';
    font-size:larger;
    color: whitesmoke;
    margin-top: auto;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px ;
}
li{
    margin: 5px;
}
.sm {
    align-items: center;
    display: flex;
    justify-content: center;
}
footer{
    background-color: #fb7857cf;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
}