:root {
  --primary: #8b57c6;
  --bg: #191a2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
 
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montsserat", sans-serif;
  background-color: var(--bg);
}

/* navbar */
.navbar {
  display: flex;
   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3%;
  background-color: rgba(139, 139, 138, 0.8);
  border-bottom: 1px solid #8b57c6;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar .navbar-logo {
  width: 100px;
  height: 100px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .navbar-name {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}
.navbar .navbar-name span {
  color: white;
}

.navbar .navbar-nav a {
  color: rgb(43, 43, 43);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: rgb(37, 138, 253);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid rgb(37, 138, 253);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: linear 0.15s;
}

.navbar .navbar-extra a {
  color: rgb(43, 43, 43);
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* home section */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(logonoedit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    #191a2b 15%,
    rgba(7, 16, 97, 0) 80%
  );
}

.home .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.home .content h1 {
  font-size: 5rem;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0, 5);
  line-height: 1.2;
}

.home .content h1 span {
  color: black;
}

.home .content p {
  font-size: 1.6rem;
  color: rgb(116, 113, 113);
  margin: 1.5rem 0;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0, 5);
  mix-blend-mode: difference;
}

.home .content .cta {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 0.5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0, 5);
}

/* about section */

.about {
  padding: 10rem 7% 1.4rem;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10rem;
  color: white;
}

.about .row {
  display: flex;
  padding-top: 5rem;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 75%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  text-align: left;
}

.about .row .content p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
}

/* service section */

.service .container {
  min-height: 100vh;
  width: 100%;
  background-color: #191a2b;
  flex-wrap: wrap;
}

.service .container .service-wrapper {
  padding: 5% 8%;
}

.service .container .service-wrapper .isiservice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service .container .service-wrapper .isiservice h2 {
margin-top: 6%;
  color: #fff;
  font-size: 4rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background-color: rgb(4, 52, 83);
  background: linear-gradient(
    8deg,
    rgba(8, 52, 83, 1) 0%,
    rgb(168, 15, 206, 1) 50%,
    rgb(41, 17, 45, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  position: relative;
}
.service .container .service-wrapper .isiservice h2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 80%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
}

.service .container .service-wrapper .isiservice h2 span {
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--primary);
  animation: anim 5s linear infinite;
}

@keyframes anim {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 89%;
  }
}

.service .container .service-wrapper .isiservice .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 80px;
}

.service .container .service-wrapper .isiservice .cards .card {
  height: 280px;
  background-color: #1c2335;
  padding: 3% 8%;
  border: 0.2px solid rgba(114, 226, 174, 0.2);
  border-radius: 8px;
  transition: 0.6s;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.service .container .service-wrapper .isiservice .cards .card:hover:after {
  width: 225%;
  top: -100%;
}

.service .container .service-wrapper .isiservice .cards .card i {
  color: var(--primary);
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 5rem;
}

.service .container .service-wrapper .isiservice .cards .card h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.service .container .service-wrapper .isiservice .cards .card p {
  text-align: center;
  align-content: center;
  width: 100%;
  margin: 12px 0;
  color: rgba(255, 255, 255, 0.6);
}

.service .container .service-wrapper .isiservice .cards .card:hover {
  background-color: transparent;
  transform: translateY(-8px);
  border-color: darkcyan;
}

.service .container .service-wrapper .isiservice .cards .card:hover i {
  color: #5900ff;
}

/* contact start */


.contact .content h3 {
  padding: 10rem 7% 1.4rem;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: white;
}
.contact .content p {
text-align: center;
font-size: 1.4rem;
color: white;
}
.contact .form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  
}
.contact .form .input-group {
display: flex;
align-items: center;
margin-top: 2rem;
background-color: var(--bg);
border: 1px solid #fff;
padding-left: 4rem;
}

.contact form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
font-size: 1.7rem;
color: #fff;
background-color: var(--primary);
cursor: pointer;
} 

/* footer*/

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}
footer .socials a {
  color: #fff;
  margin: 1rem;
  
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* media queries */

/* laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(139, 139, 138, 0.8);
    border: solid 1px #000;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: rgb(255, 255, 255);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    border-bottom: solid 1px #000;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1 rem;
    font-size: 2 rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }
  
#service {
.cards {
    grid-template-columns: repeat(1, 1fr);
  }

.about .row .about-img img {
  flex: wrap;
}
}



/* smartphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
