/* GLOBAL */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle at top, #07101a, #000);
    color: white;
}

section {
    padding: 70px 10%;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #ff0000;
    text-shadow: 0 0 10px #0d00ff;
}

/* NAVBAR */
nav {
    position: fixed;
    width: 100%;
    padding: 15px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.logo {
    font-size: 1.5rem;
    color: white;
}
.logo span {
    color: #720000;
}

nav a {
    color: #ffff00;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    text-shadow: 0 0 10px #e8d4ff;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-size: 4rem;
    color: #00a835;
    text-shadow: 0 0 10px rgb(137, 1, 103), 0 0 25px #00eaff;
    opacity: 0;
    animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(25px); }
    to { opacity: 1; transform: translateY(0); }
}

/* TYPING EFFECT */
.typing {
    margin-top: 10px;
    font-size: 20px;
    border-right: 3px solid cyan;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(30) forwards, blink .7s infinite;
}

@keyframes typing { to { width: 100%; } }
@keyframes blink { 50% { border-color: transparent; } }

/* BUTTON */
button {
    cursor: pointer;
    border: none;
}

.hero-btn,
.cta-btn {
    margin-top: 25px;
    padding: 12px 24px;
    background: #00ffa6;
    color: #6600ff;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.hero-btn:hover,
.cta-btn:hover {
    box-shadow: 0 0 20px #ffbb00;
    transform: scale(1.05);
}

/* FEATURES */
.feature-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.card {
    background: rgba(255,255,255,0.07);
    backdrop-filter: blur(12px);
    text-align: center;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.15);
    transition: 0.4s;
}

.card:hover {
    background: rgba(0,255,255,0.2);
    transform: translateY(-8px);
    box-shadow: 0 0 20px cyan;
}

/* VIDEO */
.video-box {
    display: flex;
    justify-content: center;
}

.video-box iframe {
    width: 100%;
    max-width: 800px;
    height: 400px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 25px #00eaff;
}

/* CTA */
.cta {
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    color: #888;
}

/* RESPONSIVE */
@media(max-width: 768px){
    .hero-title { font-size: 2.6rem; }
    .typing { font-size: 16px; }
}
