body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    min-height: 100vh;
    
}

header {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2DA4A8;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1200px;
    gap: 20px;
    max-height: 600px;
    min-height: 200px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}