body {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        background-color: white;
        color: pink;
}

header {
  background-color: pink;
  color: white;
  text-align: center;
  padding: 20px;
}

.profile-container {
   max-width: 700px;
   margin: 50px auto;
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0 12px 10px pink;
   padding: 15px;
   text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 12px 16px 28px 20px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid pink;
}

main {
  font-family: 'Times New Roman', Times, serif;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
   font-family: 'Times New Roman', Times, serif;
   text-align: justify;
   width: 50;
   height: 50;
   background-color: black;
   padding: 20px;
   margin: 10px 0;
   border-radius: 30px
}

.motto {
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  text-align: center;
  width: 50;
  height: 50;
  background-color: pink;
  color: black;
  margin: 10px 0;
}
