body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4b4b4b;
}
header {
  background-color: #3498db;
  padding-top: 2rem ;
}
h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #27ae60;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}
main {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  
}
.content {
  width: 100%;
  background-color: #adadad;
  padding: 20px;
  margin: 10px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  flex-direction: column;
}

.content p {
  font-size: 15px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
