* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #2c2a2a;
    color: #fff;
    overflow-x: hidden;
}

/* hero */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('header.jpg') center/cover no-repeat;
    position: relative;
}


p {
    font-weight: 300;
    font-size: 1rem;
    color: #d6f6f6;
    line-height: 1.6;
}

.features-section h2,
.vidio-section h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    color: #ca5050;
}

.card h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #e37d7d;
}

/* Responsive: ukuran huruf berubah di layar kecil */
@media(max-width: 768px) {
    .typing-text { font-size: 1.8rem; }
    h2 { font-size: 1.6rem; }
    p { font-size: 0.95rem; }
}

/* overlay gelap */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0,0,0,0.6);
}

.hero * { z-index: 2;}

/* animasi typing */
.typing-text {
    font-size: 3rem;
    color: #e37d7d;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: tying 3s steps(30) forwards, glow 2s infinite alternate;
}

.hero h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;

}

@keyframes typing {
    100% { width: 100%; }
}
@keyframes glow {
    0% { text-shadow: 0 0 10px #e37d7d; }
    100% { text-shadow: 0 0 20px #e37d7d; }
}

/* CTA button */
.cta-btn {
    margin-top: 15px;
    background: #e37d7d;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.cta-btn:hover {
    transform: scale(1.1);
}

/* fitur section */
.features-section {
    padding: 70px 20px;
    text-align: center;
}

.features-section h2 {
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid #e37d7d;
    border-radius: 15px;
    padding: 20px;
    width: 280px;
    backdrop-filter: blur(5px);
    transition: 0.4s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #dd3761;
}

/* vidio section */
.vidio-section {
    padding: 70px 20px;
    text-align: center;
}

.vidio-box {
    max-width: 700px;
    margin: auto;
}

iframe {
    width: 100%;
    height: 350px;
    border-radius: 15px;
}

/* footer */
footer {
    text-align: center;
    margin-top: 50px;
    color: #0c0f1a;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 15px;
    font-size: 0.9rem;
}

/* reponsive */
@media(max-width: 768px) {
    .typing-text {
        font-size: 2rem;
    }
    .card {
        width: 100%;
        max-width: 320px;
    }
}