body {
    background: #fff4e6;
    color: #333;
    padding: 40px;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

header h3 {
    color: #ff7a00;
    text-align: center;
}

form {
    max-width: 500px;
    margin: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

fieldset {
    border: 2px solid #ff7a00;
    border-radius: 8px;
    padding: 20px;
}

p {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #ff7a00;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ffc08a;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

textarea {
    resize: none;
    height: 70px;
}

input[type="submit"] {
    width: 100%;
    background: #ff7a00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background: #e66f00;
}