
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff8e1;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #000000;
    text-align: center;
    padding: 45px 25px;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

main {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fffbea;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    color: #e65100;
    border-bottom: 2px solid #ffb300;
    padding-bottom: 5px;
}

ul, ol {
    line-height: 1.8;
    padding-left: 20px;
}

.tips {
    background-color: #fff3cd;
    border-left: 5px solid #00f788;
    padding: 15px;
    margin-top: 20px;
    font-style: italic;
}

footer {
    background-color: #000000;
    text-align: center;
    color: white;
    padding: 15px 0;
    margin-top: 40px;
}
