body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    background-color: whitesmoke;
    font-size: 20px;
}
.logo {
    font-weight: bold;
    color: #1a88e5;
    font-size: 20px;
    margin: 0;
}
.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.menu a {
    text-decoration: none;
    color: #1a88e5;
    font-weight: 500;
}
.menu a:hover {
    color: #2196f3;
}

.hero {
    background: linear-gradient(#8fd3ff, #1a88e5);
    padding: 30px;
    color: white;
    text-align: center;
}
.content  {
    text-align: center;
    color: black;
    padding: 55px;
    margin-top: 20px;
    border: 10px solid #1a88e5;
    border-radius: 250px;
}
.introduction {
    display: flex;
    text-align: center;
    margin: auto;
    color: whitesmoke;
    padding: 30px;
}
.introduction h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: whitesmoke;
    line-height: 50px;
    margin-bottom: 15px;
    max-width: 900px;
    margin: 0 auto;
}
.biru {
    color: #1a88e5;
}

.features{
    margin-top: auto;
    background: #f4fbfc;
    color: black;
    padding: 24px 26px;
}
.feature-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    background-color: #8fd3ff;
    padding: 20px;
}
.tag {
    background-color: #8fd3ff;
    border-radius: 50px;
    padding: 10px 7%;
    font-weight: bold;
    
}

.preasure {
    display: flex;
    font-family: 'Playfair Display', serif;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    font-size: 20px;
    margin-top: 0px;
}
.text-preasure {
    flex: 1;
    text-align: left;
}
.preasure-foto {
    width: 350px; 
    border-radius: 15px;
    object-fit: cover;
}

.kontak {
    width: 45%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left;
}

footer {
    background-color: #8fd3ff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}