@import url('https://fonts.googleapis.com/css2?family=Montserreat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #05010b;
    color: white;
    text-align: center;
}


.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #15002e, #000);
}

.title {
    font-size: 4rem;
    text-shadow: 0 0 20px cyan;
    animation: fadeIn 2s ease-out;
}

.subtitle {
    margin-top: 10px;
    font-size: 1.2rem;
    opacity: 0.8;
}

.cta {
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    background: cyan;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 15px cyan;
    cursor: pointer;
}


.feature {
    padding: 80px 40px;
}

.card-container {
    display: flex;
    gap: 20px;
    justufy-content: center;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    padding: 20px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    transition: 0.3s;
    border: 1px solid  rgba(255,255,255,0.2);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px  cyan;
}


.video {
    margin: 80px auto;   
    display: block;      
    max-width: 100%;     
}



@media(max-width: 600px) {
    .title { font-size: 2.5rem; }
    .card {width: 90%; }
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); } 
    to {opacity: 1; transform: translateY(0); }
}