body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 50px; /* Space for footer */
  background-color: #f2f2f2;
}

header {
  background-color: #094684;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #27ae60;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;


}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
